<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Juan S.">
  <title>Cadastro</title>
  <!-- Links para styles & Fonts-->
  <link href="cadastro.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

  <div id="app">

    <div id="container-left">
      <form action="" class="form">
        <h2>Crie sua Conta</h1>
        <!-- Icons -->
        <section>
          <div class="input-box">
            <i class="fa-solid fa-user input-icon"></i>
            <input type="text" class="input" placeholder="Seu nome">
          </div>
          <div class="input-box">
            <i class="fa-solid fa-envelope input-icon"></i>
            <input type="email" class="input" placeholder="Seu e-mail">
          </div>
          <div class="input-box">
            <i class="fa-solid fa-lock input-icon"></i>
            <input type="password" class="input" placeholder="Sua senha">
          </div>
          <div class="input-box">
            <i class="fa-solid fa-lock input-icon"></i>
            <input type="password" class="input" placeholder="Confirme sua senha">
          </div>
        </section>
        <!-- Podemos colocar uma Imagem ou nossa Logo -->
        <p>
          Ao se registrar, você aceita nossos <a href="#">termos de uso</a> e a nossa <a href="#">política de
            privacidade.</a>
        </p>
        <button>cadastrar</button>
      </form>
    </div>
    <div id="container-right">
      <!-- Logo -->
      <div class="box-text">
        <h2>PETFINDER</h2>
        <p class="p-big">Mais de 5 mil animais já foram encontrados!</p>
        <p class="p-small">Junte-se a essa comunidade e faça parte dessa emoção.</p>
        <!-- Ícone no Links -->
        <a href="../Login/" class="box-back">
          <i class="fa-solid fa-arrow-left"></i>
          <p>Voltar para Login</p>
        </a>
      </div>
    </div>
  </div>


  <script src="https://kit.fontawesome.com/629a7b671b.js" crossorigin="anonymous"></script>
</body>

</html>