@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variáveis */
:root {
	--fundo: #ebebeb;
	--fundo-escuro: #d5d3d3;
	--verde: #3B5249;
	--verde-claro: #366754;
	--verde-escuro: #374D44;
	--verde-hover: #2E3E38;
  --verde-hover-claro: #477161;
}

/*========== Padronização do Site ================================================================*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--fundo);
  font-family: 'Poppins', sans-serif;
  
}

/* ===============================================================================================*/

/* Estilização do Conteúdo */
#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6em;

  width: 1100px;
  max-width: 100%;
  margin: 2em auto;
}

/*========= Container lado Esquerdo ==============================================================*/
#container-left {
  background: var(--verde);
  width: 100%;
  max-width: 450px;
  margin-left: 30px;
  height: 500px;
  border-radius: 10px;
  padding: 70px;
  box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, .4);
}
.form{
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form h2{
  font-size: 26px;
  font-weight: 600;
  color: var(--fundo);
  margin-bottom: 20px;
}
.form section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;

  width: 100%;
}
.input{
  background-color: var(--fundo-escuro);
  width: 300px;
  height: 40px;

  border: none;
  border-radius: 5px;
  padding-left: 38px;
  outline: none;
}
  .input:focus{
    outline: 3px solid var(--verde-hover);
  }
.input-box{
  position: relative;
}
.input-icon{
  position: absolute;
  top: 10.5px;
  left: 12px;
  color: #202020;
}
.form p{
  text-align: center;
  font-size: 13px;
  color: #c6c6c6;

  margin-top: 15px;
}
.form p a{
  text-decoration: none;
  color: var(--fundo);
  font-weight: 600;
}
.form button{
  background-color: #1f322b;
  color: var(--fundo-escuro);
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;

  cursor: pointer;
  transition: all .2s;
}
.form button:hover{
  background-color: #263f36;
  color: #c6c6c6;
}
/*========= Container lado Direito ===============================================================*/

#container-right {
  width: 100%;
  height: 100%;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
  gap: 30px;

}

/* Estilização dos Textos */
.box-text h2{
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 600;
  color: var(--verde-hover);
}

.p-big {
  width: 300px;
  font-size: 42px;
  font-weight: 800;
  line-height: 40px;
  color: rgb(24, 24, 24);
}

.p-small {
  width: 450px;
  color: #202020;
  font-size: 18px;
  line-height: 20px;
}

.box-back {
  display: flex;
  align-items: center;
  gap: 5px;

  text-decoration: none;
  color: var(--verde-escuro);
  font-size: 14px;
  font-weight: 600;
}
.box-back:hover{
  transition: all .2s;
  color: var(--verde-hover-claro);
}