<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre - PETFINDER</title>
  <link rel="stylesheet" href="sobre.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../assets/image/logo.png">

</head>

<body>
  <!-- NAVBAR -->
  <header id="cabecalho-inicial">
    <div class="nav-bar">
      <div class="wrapper-logo">
        <img src="../../assets/image/logo-branca.png">
        <a href="../../../index.html" class="logo">PETFINDER</a>
      </div>
      <nav class="nav-links">
        <ul class="nav-list-left">
          <li><a href="../../../index.html">Início</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="../Contato/duvidas.html">Contato</a></li>
          <li><a href="../RegistroPet/registro-pet.html" class="a-open">Cadastre seu PET</a></li>
        </ul>
        <!-- TESTES sistema de Cadastro-->
        <div class="login" style="cursor: pointer;">
          <i class="fa-regular fa-circle-user" id="icon"></i>
          <div class="text">
            <p>olá, faça seu <span>login</span></p>
            <p class="p">ou <span>cadastra-se</span> <i class="fa-solid fa-angle-down"></i></p>
          </div>
        </div>
        <!-- =====  -->
      </nav>
    </div>
  </header>

  <!--CONTEUDO DO SITE-->

  <div class="content-area">
    <div class="content">

      <h2>Quem somos?</h2>

      <p>
        A PETFINDER é um grupo de pessoas que se disponibilizou para criar uma ferramenta gratuita para todos
        aqueles que utilizarem. Somos uma comunidade totalmente compromissada a ajudar a todos os animais que se
        encontram perdidos. Visando a simplicidade e a praticidade, criamos um site aonde contém uma ferramenta de
        cadastro de PET's perdidos, podendo assim ajudar seus donos na divulgação.
      </p>
      <h2>O problema:</h2>
      <p>
        Quem nunca conheceu alguém ou até mesmo já teve seu animal perdido? Uma situação horripilante, desesperadora,
        tentamos de todas as formas acha-los, usamos as redes sociais, os canais de contato e qualquer ferramenta a
        nosso alcance...
      </p>
      <h2>A solução:</h2>
      <p>
        Nós da PETFINDER visualizamos esse problema e tomamos a iniciativa de criar uma ferramenta que possibilita
        a procura de um animal perdido, por meio de anúncios personalizados e um bate-papo.
      </p>
    </div>
  </div>

  <!-- RODAPÉ DO SITE -->
  <footer class="footer">
    <div class="footer-one">
      <section class="footer-section">
        <h2 class="footer-logo">PETFINDER</h2>
        <p>Nosso trabalho é te ajudar a encontrar o seu pet!</p>
        <p>Deixe seu feedback ou tire suas duvidas nas redes sociais.</p>
      </section>
      <ul class="footer-socials" id="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
    <div class="footer-two">
      <p>copyright &copy;2022 <span class="footer-min-logo">PETFINDER</span>. designed by <span
          class="footer-name-group"> JMPG's Group. </span></p>
    </div>
  </footer>

  <!-- Modal box -->
  <div id="modal-login" class="modal-box">
    <!-- Modal interface -->
    <div class="modal">
      <div class="modal-bloco"></div>
      <p class="modal-text">Bem-Vindo, acesse sua conta ou cadastra-se :)</p>
      <a href="../Login/login.html" class="modal-link-one">entrar</a>
      <a href="../Cadastro/cadastro.html" class="modal-link-two">cadastrar</a>
      <p class="modal-logo">PETFINDER</p>
    </div>
  </div>

  <!-- Script -->
  <script src="../../scripts/modal.js"></script>
  <script src="https://kit.fontawesome.com/629a7b671b.js" crossorigin="anonymous"></script>
</body>

</html>