<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="logim.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="./src/assets/image/logo.png">
  <title>Document</title>
</head>

<body>

  <div id="app">
    <div id="container-right">
      <!-- Logo -->
      <div class="box-text">
        <h2>PETFINDER</h2>
        <p class="p-big">Mais de 5 mil animais já foram encontrados!</p>
        <p class="p-small">Junte-se a essa comunidade e faça parte dessa emoção.</p>
        <!-- Ícone no Links -->
        <a href="../../../index.html" class="box-back">
          <i class="fa-solid fa-arrow-left"></i>
          <p>Voltar para PETFINDER</p>
        </a>
      </div>
    </div>

    <div id="container-left">
      <form action="" class="form">
        <h2>Faça seu Login</h1>
          <!-- Icons -->
          <section>
            <div class="input-box">
              <i class="fa-solid fa-envelope input-icon"></i>
              <input type="email" class="input" placeholder="Seu e-mail">
            </div>
            <div class="input-box">
              <i class="fa-solid fa-lock input-icon"></i>
              <input type="password" class="input" placeholder="Sua senha">
            </div>
          </section>
          <!-- Podemos colocar uma Imagem ou nossa Logo -->
          <p>
            Ao se registrar, você aceita nossos <a href="#">termos de uso</a> e a nossa <a href="#">política de
              privacidade.</a>
          </p>
          <button>Entrar</button>
      </form>
    </div>
  </div>


  <script src="https://kit.fontawesome.com/629a7b671b.js" crossorigin="anonymous"></script>
</body>

</html>