<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duvidas</title>
  <link rel="stylesheet" href="duvidas.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="images/logo.png">
</head>

<!--NAVBAR-->

<body>
  <!-- NAVBAR DO SITE-->
  <header id="cabecalho-inicial">
    <div class="nav-bar">
      <div class="wrapper-logo">
        <img src="../../assets/image/logo-branca.png">
        <a href="../../../index.html" class="logo">PETFINDER</a>
      </div>
      <nav class="nav-links">
        <ul class="nav-list-left">
          <li><a href="../../../index.html">Início</a></li>
          <li><a href="../Sobre/sobre.html">Sobre</a></li>
          <li><a href="./duvidas.html">Contato</a></li>
          <li><a href="../RegistroPet/registro-pet.html" class="a-open">Cadastre seu PET</a>
          </li>
        </ul>

        <!-- TESTES sistema de Cadastro-->
        <div class="login" style="cursor: pointer;">
          <i class="fa-regular fa-circle-user" id="icon"></i>
          <div class="text">
            <p>olá, faça seu <span>login</span></p>
            <p class="p">ou <span>cadastra-se</span> <i class="fa-solid fa-angle-down"></i></p>
          </div>
        </div>
        <!-- =====  -->
      </nav>
    </div>
  </header>

  <div class="content-area">
    <section>
      <h2 class="title">Duvidas frequentes</h2>

      <!--PERGUNTA 1-->
      <div class="faq">
        <div class="question">
          <h3>Tem um cão abandonado na minha rua. O que fazer?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            Primeiramente reflita sobre a oportunidade de cuidar e ajudar este animal.<br>
            Pense com carinho na possibilidade de adotá-lo.
            Caso não possa, com um pouco de boa vontade, paciência e criatividade, com certeza, conseguirá
            um lar que o adote.
            Não se desespere.
          </p>
        </div>
      </div>

      <!--PERGUNTA 2-->
      <div class="faq">
        <div class="question">
          <h3>Como iniciar as procuras ?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            cerca de 69% dos cães são encontrados com a ajuda de outras pessoas
            distribua e afixe os cartazes.<br> Essa é uma medida absolutamente indispensável em casos de
            desaparecimento. Se não divulgar através de cartazes irá comprometer seriamente a possibilidade
            de encontrá-lo
            é muito importante afixar folhetos no raio de pelo menos 1 quilometro e meio.<br> À medida que
            os dias forem passando, esse raio deverá ser aumentado
            vá a todos os pet shops, clínicas veterinárias e casas de ração. Se o seu amigão tem o tipo de
            pelagem que precisa ser tosada freqüentemente, converse pessoalmente com os funcionários do
            Banho e Tosa desses lugares e mostre o cartaz
            procure também afixar o cartaz nos lugares mais movimentados da região como padarias, farmácias,
            estacionamentos, postos de gasolina, supermercados, parques, bancas de jornais e outros locais
            estratégicos
            examine os cartazes freqüentemente e substitua os que tiverem sido retirados ou danificados –
            infelizmente muitos cartazes desaparecem em menos de 24 horas.
          </p>
        </div>
      </div>

      <!--PERGUNTA 3-->
      <div class="faq">
        <div class="question">
          <h3>Como anunciar meu animal no petfinder?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            Primeiramente faca <a href="#">login</a> na sua conta ou se nao tiver uma <a href="#">crie</a>.
            Logo depois de logar voce vai ate a
            aba <a href="#">cadastrar animal</a> la voce preenchera um formulario com informacoes sobre o
            pet e sera enviado para nos.<br>
            assim que alguem ver ou achar a pessoa podera cadastrar ele no site como animal encontrado ou
            procurar o anuncio dele e mandar mensagem
            para o dono do animal.
          </p>
        </div>
      </div><br><br>

      <h3>Dicas uteis</h3><br>

      <div class="faq">
        <div class="question">
          <h3>Informe as pessoas que trabalham nas redondezas.</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            Outra dica muito importante é pedir ajuda para as pessoas que trabalham na região, como
            carteiros, entregadores e garis.
            Elas costumam percorrer boa parte da cidade e podem ajudar com a distribuição dos folhetos, além
            de ficarem atentas caso
            encontrem alguma pista do fujão.<br>
            Por mais que seja um momento delicado e de muita preocupação, é preciso agir com calma, mas de
            forma ágil para encontrar o peludo
            o mais rápido possível. Então, se o seu cachorro fugiu, siga essas dicas que passamos que temos
            certeza que dará tudo certo e ele
            será encontrado!
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Crie um post na internet e nas redes sociais.</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            Sabemos muito bem do enorme poder que a internet tem e nesses momentos é preciso saber usá-la da
            forma correta. Inclusive são
            inúmeros os casos de cães encontrados usando essa ferramenta. Além de criar um post com as
            mesmas informações que o folheto
            impresso, é possível incluir mais fotos que ajudem na identificação do animal.<br>
            Peça ajuda para pessoas influentes que tenham bastante visibilidade e para conhecidos da região
            compartilharem em suas redes
            sociais, a fim de atingir o maior número de pessoas.
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Distribua folhetos impressos.</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>

        </div>
        <div class="answer">
          <p>
            Se a busca nas redondezas não for suficiente, faça folhetos e imprima várias cópias para fixar
            nos postes <br>e nos murais de anúncios
            dos prédios.<br>
            Ademais, deixe-os em estabelecimentos da região e entregue em todas as clinicas veterinárias e
            pet shops que <br>tiverem por perto.
            Em muitos casos os animais são levados para esses lugares.
          </p>
        </div>
      </div>

    </section>
  </div>

  <!-- RODAPÉ DO SITE -->
  <footer class="footer">
    <div class="footer-one">
      <section class="footer-section">
        <h2 class="footer-logo">PETFINDER</h2>
        <p>Nosso trabalho é te ajudar a encontrar o seu pet!</p>
        <p>Deixe seu feedback ou tire suas duvidas nas redes sociais.</p>
      </section>
      <ul class="footer-socials" id="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
    <div class="footer-two">
      <p>copyright &copy;2022 <span class="footer-min-logo">PETFINDER</span>. designed by <span
          class="footer-name-group"> JMPG's Group. </span></p>
    </div>
  </footer>

  <!-- Modal box -->
  <div id="modal-login" class="modal-box">
    <!-- Modal interface -->
    <div class="modal">
      <div class="modal-bloco"></div>
      <p class="modal-text">Bem-Vindo, acesse sua conta ou cadastra-se :)</p>
      <a href="../Login/login.html" class="modal-link-one">entrar</a>
      <a href="../Cadastro/cadastro.html" class="modal-link-two">cadastrar</a>
      <p class="modal-logo">PETFINDER</p>
    </div>
  </div>

  <!-- Scripts -->
  <script src="../../scripts/modal.js"></script>
  <script src="../../scripts/ask.js"></script>
  <script src="https://kit.fontawesome.com/629a7b671b.js" crossorigin="anonymous"></script>
</body>

</html>